* {
    margin: 0px;

    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    color: white;
    line-height: 50px;
    display: flex;
    background-color: deeppink;
    width: 100%;
    align-items: center;
}

header .menu {
    display: flex;

}

.menu li {
    padding: 5px;
    color: white;
}

.social-links li {
    padding: 5px;
    color: white;
}

.menu {

    margin: 0px auto;
}
header{
display: flex;
}
header .bar{
    order:1;
    padding-right: 30px;
}

header ul {
    display: flex;
}
.menu ul li{
    
transition-property: height;
        transition-duration: 2s;}
.menu li a {
    color: white;
}
.service-card-image img 
{width: 100%;}

header .logo {
    padding-left: 20px;
}

header .social-links {
    padding-right: 20px;
}

.social-links li {
    font-size: 20px;
}
.service-card-img img{
    width: 100%;
}
.service-card{
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.services{
    display: flex;
}
.main{
    display: flex;
}
footer{
background-color: deeppink;
    color:white;
    line-height: 40px;
    text-align: center;
}
.sidebar{
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 13vw;
    background-color: lightgray;
}
.content{
    margin: 10px;
    
}
.content p{
word-wrap: break-word;
}

.content h2{
    text-align: center;
    padding: 20px;

}
.sidebar ul{
    padding: 20px;
    
}
.service-card{
    border:1px solid black;
    margin-bottom:2px;
    flex-basis: 32%;
}
.services{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.sidebar ul a{
padding: 20px;
    color:white;
    text-align: center;
    
}
.sidebar ul li{
   
}
.sidebar img{
width: 100%;
    height: 50%;
}
.sidebar ul li{
padding: 4px;
    color:white;
border-bottom: 1.5px solid black;
}
.mainbar .siderbar ul li a{
    padding: 40px;
}
.service-card{
align-self: stretch;
    margin: 0px;
}

.readmore a{
color:white;
     background-color:blue;
    color:aliceblue;
    padding:8px 13px;
    display:block;
    
}
.des{
    margin-bottom: 20px;
}

.readmore{
     align-self:flex-start;
    margin-top: auto;
    
}

.bar{
display: none;
    
}
.services-card{
border:0px;
}
.menubar{
float: right;
    background-color: deeppink;
    line-height: 40px;
}
.menubar .bar{
    float: right;
    font-size: 27px;
    padding-right: 20px;
    color:white;
   
}
.menubar #toggle{
float: right;
   
    
}
.bar{
font-size: 27px;
    
}
#toggle{
display: none;
}
.toggle{
    position: absolute;
    left:80%;
}
@media screen and (max-width:600px)
{
    body{
        box-sizing: border-box;
    }
    header{
        box-sizing: border-box;
    }
    .bar{
display: flex;
    }
    header .menu{
display: none;
    }
    #toggle:checked ~ .menu{
        order:1;
        display: flex;
        
        
    }
    .social-links{
order:-2;}

    header{
        flex-direction: column;
        width: 100%;
        }  
    .menu ul {
        flex-direction: column;
    }
    .toggle{
order: 1;
    }
    .content{
        order:-1;
    }
    .main{
        flex-direction: column;
    }
    .services{
    flex-direction: column;
    }
    .siderbar li{
        text-align: center;
    }
}
